<ion-toolbar>
  <ion-title>Duoc uc</ion-title>
  <ion-button slot="end"(click)="logout()">Cerrar Sesion</ion-button>
</ion-toolbar>

<ion-content>

<ion-card class="ion-text-center" >
  <img alt="Silhouette of mountains" src="../../assets/img/Logo.webp" />
  <ion-card-header>
    <ion-card-title class="ion-text-center"></ion-card-title>
    <ion-card-title>Programa de aistencia</ion-card-title>
    <ion-card-title>Creacion de asistencia</ion-card-title>
    <ion-card-subtitle>pulse el boton para poder generar un codigo QR para que los alumnos puedan registrar su asistencia</ion-card-subtitle>
    <ion-card-subtitle>Utilize su computadora para generar el codigo QR y mostrarselo a sus alumnos</ion-card-subtitle>
    <br>
    <br>
    <br>
    <br>
    <img alt="Silhouette of mountains" src="../../assets/img/qr-code-22.webp" />
  </ion-card-header>


  <ion-card-content>
    <br>
    <br>
    <br>
    <br>
    <ion-button href="escaner.vue" expand="block" >Generar codigo QR</ion-button>
    <br>
    <br>
  </ion-card-content>
</ion-card>
</ion-content>